<section class="topsell__area-1 pt-15">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section__head d-flex justify-content-between mb-10">
                    <div class="section__title">
                        <h5 class="st-titile-d">Top Deals Of The Day</h5>
                    </div>
                    <div class="offer-time">
                        <span class="offer-title d-none d-sm-block">Hurry Up! Offer ends in:</span>
                        <div class="countdown">
                            <div class="countdown-inner b-radius" data-countdown="" data-date="Mar 02 2022 20:20:22">
                                <ul class="text-center">
                                    <li><span data-days="">36</span> Days</li>
                                    <li><span data-hours="">8</span> Hours</li>
                                    <li><span data-minutes="">16</span> Mins</li>
                                    <li><span data-seconds="">54</span> Secs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-bs-slider">
                <div class="product-slider swiper-container">
                    <div class="swiper-wrapper">
                        {% for prod in product %}
                        <div class="product__item swiper-slide">
                            <div class="product__thumb fix">
                                <div class="product-image w-img">
                                    <a href="product-details.html">
                                        <img src="{{prod.featured_image}}" style="height:240px;" alt="product">
                                    </a>
                                </div>
                                <div class="product__offer">
                                <span class="discount">-{{prod.discount}}%</span>
                                </div>
                                <div class="product-action">
                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                        <i class="fal fa-eye"></i>
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-heart"></i>
                                        <i class="fal fa-heart"></i>
                                    </a>
                                    <a href="#" class="icon-box icon-box-1">
                                        <i class="fal fa-layer-group"></i>
                                        <i class="fal fa-layer-group"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product__content">
                                <h6><a href="product-details.html">{{prod.name|truncatewords:8}}</a></h6>
                               
                                <div class="price mb-10">
                                    <span>&#8377; {{prod.price}}</span>
                                </div>
                                <div class="progress mb-5">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress-rate">
                                    <span>Sold:{{prod.available}}/{{prod.total}}</span>
                                </div>
                            </div>
                            <div class="product__add-cart text-center">
                                <button type="button" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                Add to Cart
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="bs-button bs-button-prev"><i class="fal fa-chevron-left"></i></div>
                <div class="bs-button bs-button-next"><i class="fal fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
</section>


{% for prod in product  %}
<div class="modal fade" id="productModalId-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered product__modal" role="document">
        <div class="modal-content">
            <div class="product__modal-wrapper p-relative">
                <div class="product__modal-close p-absolute">
                    <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                </div>
                <div class="product__modal-inner">
                    <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product__modal-box">
                            <div class="tab-content" id="modalTabContent">

                                <div class="tab-pane fade show active" id="nav{{prod.product_images_set.first.id}}" role="tabpanel" aria-labelledby="nav{{prod.product_images_set.first.id}}-tab">
                                    <div class="product__modal-img w-img">
                                        <img src="{{prod.product_images_set.first.image}}" style="width:394px;height:500px"alt="">
                                    </div>
                                </div>

                                {% for image in prod.product_images_set.all|slice:"1:" %}
                                <div class="tab-pane fade show " id="nav{{image.id}}" role="tabpanel" aria-labelledby="nav{{image.id}}-tab">
                                    <div class="product__modal-img w-img">
                                        <img src="{{image.image}}" style="width:394px;height:500px" alt="">
                                    </div>
                                </div>
                                {% endfor %}
                               
                                
                                </div>
                            <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav{{prod.product_images_set.first.id}}-tab" data-bs-toggle="tab" data-bs-target="#nav{{prod.product_images_set.first.id}}" type="button" role="tab" aria-controls="nav{{prod.product_images_set.first.id}}" aria-selected="true">
                                        <img src="{{prod.product_images_set.first.image}} " style="width:85px;height:85px;" alt="">
                                    </button>
                                </li>
                                {% for image in prod.product_images_set.all|slice:"1:" %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav{{image.id}}-tab" data-bs-toggle="tab" data-bs-target="#nav{{image.id}}" type="button" role="tab" aria-controls="nav{{image.id}}" aria-selected="true">
                                        <img src="{{image.image}} " style="width:85px;height:85px;" alt="">
                                    </button>
                                </li>
                                {% endfor %}
                               
                                </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product__modal-content">
                            <h4><a href="product-details.html">{{prod.name|truncatewords:12}}</a></h4>
                            <div class="product__review d-sm-flex">
                                <div class="rating rating__shop mb-10 mr-30">
                                <ul>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    <li><a href="#"><i class="fal fa-star"></i></a></li>
                                </ul>
                                </div>
                                <div class="product__add-review mb-15">
                                <span>01 review</span>
                                </div>
                            </div>
                            <div class="product__price">
                                <span>&#8377; {{prod.price}}</span>
                            </div>
                            <div class="product__modal-des mt-20 mb-15">
                                <ul>
                               
                                    {{prod.Description|truncatewords:41|safe}}
                                
                                </tr>
                                </tbody>
                            </table>
                                    
                                </ul>
                            </div>
                            <div class="product__stock mb-20">
                                <span class="mr-10">Availability :</span>
                                <span>{{prod.available}} in stock</span>
                            </div>
                            <div class="product__modal-form">
                                <form action="#">
                                <div class="pro-quan-area d-lg-flex align-items-center">
                                    <div class="product-quantity mr-20 mb-25">
                                        <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                    </div>
                                    <div class="pro-cart-btn mb-25">
                                        <button class="cart-btn" type="submit">Add to cart</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="product__stock mb-30">
                                <ul>
                                    {% for additioal in prod.additional_information_set.all %}
                                    <li><a href="#">
                                        <span class="sku mr-10">{{additioal.specification}}:</span>
                                        <span>{{additioal.detail}}</span></a>
                                    </li>
                                    {% endfor %}
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- topsell__area-end -->