<div aria-live="polite" aria-atomic="true" style="z-index: 0; position: fixed; top: 5%; right: 5%; min-height: 200px;">
    <!-- Toast -->
    <div id="notificationToast" style=" display: none;" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="toast-header">
            <strong class="mr-auto">Notification</strong>
        </div>
        <div class="toast-body" id="notificationMessage">
            <!-- Notification message will be displayed here -->
        </div>
    </div>
    <!-- End Toast -->
</div>
