<div aria-live="polite" aria-atomic="true" style="position: fixed; top: 30%; right: 0; z-index: 1000; min-height: 200px;">
    <!-- Sticky position at the top-right corner, adjust as needed -->

    <!-- Toast -->
    <div id="notificationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
        <div class="toast-header">
            <strong class="mr-auto">Notification</strong>
           
        </div>
        <div class="toast-body" id="notificationMessage">
            <!-- Notification message will be displayed here -->
        </div>
    </div>
    <!-- End Toast -->

</div>
